	<title>{{ .Title }}</title>
	<script type="text/javascript"><!--
		if ( location.href.indexOf('www') > 0
		  || location.href.indexOf('gitlab.io') > 0 ) {
			location.href='{{ .Site.BaseURL }}';
		} //else { console.log('{{ .Site.BaseURL }}'); }
	//--></script>

	</script>
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">

	<!-- Icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

	{{ $styles := resources.Get "css/styles.css" }}
  {{ $css := $styles | resources.Minify | resources.Fingerprint "sha512"  }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
	<link rel="stylesheet" href="/override.css">
  <!-- Share this -->
  {{ if .Site.Params.customsharethis }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
	{{ end }}
